body { 
    background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
      }
      
      font-family: 'Courier New', Courier, monospace;
  h1 {
      color: blue;
      
      font-size: ;
  }
  
  .myDiv {
    border: 5px outset red;
    background-color: lightblue;
    text-align: left;
    font-family: "mythos-std", sans-serif;
  font-weight: 400;
  font-style: normal;
    
  }
  
  .hyDiv {
    
    font-size: 100px;
    text-align: left;
    font-family: "mythos-std", sans-serif;
    color: rgb(255, 255, 255);
  font-style: normal;
    
  }
   
    .Akren_Ramrek {
      font-size: 100px;
      font-family: "Higumin";
      color: rgb(255, 255, 255);
      line-height: 1.2;
      text-align: left;
    
      
    }
    